<div id="body-who">
    <div id="content-text">
        <div id="texts">
            <h1 id="title-who" style="color: white;">Olá, eu sou o Rykelme Prado. Prazer em conhecê-lo.</h1>
            <p id="describe-who">Minha jornada de mais de {{yearsAgo()}} anos na
                programação tem sido uma emocionante e gratificante viagem. Trabalhei com diversas empresas e explorei
                diferentes tecnologias, desde o desenvolvimento web frontend até o desenvoldimento em aplicativos
                móveis. Sempre priorizei a clareza do código e a aplicação das melhores práticas de programação. Sou uma
                pessoa curiosa, divertida, apaixonada por trabalho em equipe e criatividade. Minha fome por aprendizado
                é insaciável, e estou sempre em busca de novos desafios e conhecimentos, valorizando cada oportunidade
                de crescimento.</p>
        </div>
        <app-my-lenguages></app-my-lenguages>
        <br/>
    </div>
</div>

<app-colaborate-companies></app-colaborate-companies>